In [1]:
import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sns
import sklearn as skl

In [7]:
## Uni Student attrition starting data frame, Details the % of 1st year Uni leavers
raw_att_dat = pd.read_csv("/home/mactzu/anaconda2/projects/ds2melb/projects/final-project/part-01/2015_appendix_4_-_attrition_coverted.csv",header = 4 , index_col = 0)

,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,...,2005.1,2006.1,2007.1,2008.1,2009.1,2010.1,2011.1,2012.1,2013.1,2014.1
Australia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
National Total,19.17,19.81,19,18.76,18.86,18.50,18.92,17.8,18.06,19,...,15.04,14.62,14.76,12.77,12.48,13.09,12.79,13.43,14.79,15.18
Table A Providers,19.16,19.8,18.99,18.78,18.86,18.52,18.97,17.85,18.11,19.05,...,15.04,14.63,14.79,12.81,12.54,13.14,12.82,13.47,14.84,15.25
Table B Providers,28.11,21.4,20.14,17.12,18.57,17.03,15.82,15.1,15.31,16.17,...,15.41,13.75,12.74,10.7,9.7,10.33,11.59,10.61,10.94,10.04
New South Wales,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
nsw_att_dat = pd.DataFrame(raw_att_dat.iloc [5:15, 16:27])
#, columns=["2004" , "2005" , "2006" , "2007" , "2008" , "2009" , "2010" , "2011" , "2012" , "2013" , "2014"])

In [14]:
nsw_att_dat

,2006.1,2007.1,2008.1,2009.1,2010.1,2011.1,2012.1,2013.1,2014.1
Charles Sturt University,21.18,22.24,19.26,19.53,20.85,20.46,20.34,21.79,23.21
Macquarie University,9.52,9.19,8.97,8.61,9.63,9.01,10.16,9.49,9.77
Southern Cross University,24.78,24.92,22.39,23.38,20.94,22.25,24.12,23.49,24.54
The University of New England,24.16,22.22,19.6,20.49,20.24,20.52,21.62,22.04,22.89
The University of New South Wales(d),7.11,6.42,5.81,5.24,5.64,5.23,4.85,5.38,4.8
The University of Newcastle,12.55,14.27,11.79,13.64,13.33,13.75,13.72,14.51,14.6
The University of Wollongong,10.44,9.97,8,8.42,9.37,9.75,9.57,10.56,10.69
University of Sydney,6.47,6.72,5.57,5.91,5.47,5.33,5.46,6.09,5.93
University of Technology Sydney,8.00,8.91,6.31,7.33,7.46,7.45,7.47,8.3,7.74
Western Sydney University,12.04,13.53,11.39,11.15,11.39,11.88,12.73,12.48,14.11

In [18]:
plot([5:6], [16:17])

SyntaxError: invalid syntax (<ipython-input-18-a9c292c2e1c5>, line 1)

In [ ]:
## Uni Student retenstion starting data frame Details the % of 2nd year re-enrolments
raw_ret_dat = pd.read_csv("/home/mactzu/anaconda2/projects/ds2melb/projects/final-project/part-01/2015_appendix_4_7-_attrition_coverted.csv", index_col = 0)

In [ ]:
nsw_ret_dat = pd.DataFrame(raw_ret_dat.iloc [9:19, 16:27])
nsw_ret_dat

In [ ]:
# Nsw Unis Row range equals the follow 
raw_att_dat [9:19]

In [ ]:
raw_att_dat ([9:19] , [16:25]

In [ ]:
unis_nsw = pd.DataFrame(raw_att_dat.iloc[[9:19] , [17:25]])